.fondo-about{
    background-image: url("/img/emilia-about.jpg");
    background-repeat:no-repeat;
    background-size: 74.2%;
    background-position:right;
    width:100%;
   height:656px;
}
.header-about{
    text-align: right;
}
.navegador-horizontal a{
    text-decoration:none;
    text-align:right;
    color:#000000;
    font-weight: bold;
}
h1{
    padding: 0px 25px 35px 0px;
    margin:0px;
    font-size:60px;
    color:black ;
    font-weight:bold;
    font-family:'Tilt Neon', sans-serif;
    font-style: italic;
}
.info_about{
    color:#008C73;
    font-size:30px ;
    font-family:'Raleway';
    font-style:normal;
    margin:20px 0px 35px 20px;

}
.info_about2{
    color:#008C73;
    font-size:30px ;
    font-family:'Raleway';
    font-style:normal;
    margin: 85px 0px 35px 30px;
    
}
h3{
    font-size:16px;
    color:#008C73;
    font-family:'Raleway', sans-serif;
    margin:20px 0px 30px 30px;
    font-weight:lighter;
}