:root{
    --color-gris:#85ADAB;
    --color-negro:black;
    --color-verde:#008C73;
    --color-background:#ffffff;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font: weight 300px;
    background-color: var var(--color-background);
}
.navegador-horizontal-redes{
    list-style: none;
    text-decoration:none;
    text-align:right;
    color:var(--color-negro);
    font-weight: bold;
}
.navegador-horizontal {
    list-style: none;
    padding:20px 2px 2px 0p;
    background-color: #ffffff5d;
    margin-right: 15px;
    display:inline;
}
.navegador-horizontal-redes a{
    color:#000000;
    margin-right:5.5x;
    text-align: right;
    display:inline;
    background-size:12px ;
    padding:1px 0px 1px 1px;
   }