<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/about.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole</title>
    <link rel="shortcut icon" type="icons8-star-16" href="img\icons8-star-16.png" >
    <script src="https://kit.fontawesome.com/ec7737c18b.js" crossorigin="anonymous"></script>
</head> 
<body class="fondo-about">
<header class=header-about>
    <nav>
    <ul class="navegador-horizontal" type="none">
        <a href="/">HOME|</a>
        <a href="/about">ABOUT|</a>
        <a href="/music">MUSIC|</a>
        <a href="/contact">CONTACT</a>
    </ul>
    </nav>
    <nav>
        <ul class="navegador-horizontal-redes" type="none">
            <a class="fa-brands fa-x-twitter" style="color: #000000;"></a>
            <a class="fa-brands fa-facebook" style="color: #000000;"></a>
            <a class="fa-brands fa-spotify" style="color: #050505;"></a>
            <a href="https://tv.apple.com/ " target="_blank" rel="noopener noreferrer"></a><i class="fa-brands fa-apple"></i></a>
            <a href="https://www.amazon.com/"target="_blank" rel="noopener noreferrer"></a><i class="fa-brands fa-amazon"></i></a>
            <a href="https://www.instagram.com/"target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
         </ul>
  </nav>      
 </header>
    <section>
        <h1>ABOUT <br> EMILIA //</h1>
    </section>
    <section class="info_about">
        <p>"Seatle_based pop star makes her <br> indie debut whit a hauntingly beautiful album"</p>
    </section>
    <h3> Jonh Tirckle. Music Today Post</h3>
    <section class="info_about2">
        <p> "Emilia Cole is one of the <br> scene`s breakout stars"</p>
    </section class="info_about">
    <h3> Jonh Tirckle. Music Today Post</h3>    
</body>
    </html>