<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/ec7737c18b.js" crossorigin="anonymous"></script>
</head>
<body>
   <header>    
<nav>
    <ul>
        <li><a href="/">HOME|</a></a></li>
        <li><a href="/about">ABOUT|</a></a></li></li>
        <li><a href="/music">MUSIC|</a></a></li></li>
        <li><a href="/contact">CONTACT</a></a></li></li>
    </ul>
</nav>
  <ul>
    <nav>
         <li><a href="https://twitter.com/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-x-twitter"></i></a>
         <li><a href="https://es-la.facebook.com/"target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a></li>
         <li><a href="https://tv.apple.com/ " target="_blank" rel="noopener noreferrer"></a><i class="fa-brands fa-apple"></i></li>
         <li><a href="https://www.amazon.com/"target="_blank" rel="noopener noreferrer"></a><i class="fa-brands fa-amazon"></i></li>
         <li><a href="https://www.instagram.com/"target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a></li>
 </nav>      
    </header>
    <section>
        <h1>ABOUT <br> EMILIA //</h1>
    </section>
    <section>
        <p>"Seatle_based pop star makes her <br> indie debut whit a hauntingly beautiful albun"</p>
    </section>
    <h3> Jonh Tirckle. Music Today Post</h3>
    <section>
        <p> "Emilia Cole is one of the <br> scene`s breakout stars"</p>
    </section>
    <h3> Jonh Tirckle. Music Today Post</h3>
    </body>
    <img src="imagenes/emilia-about.jpg"alt="imagen de seccion about">
    </html>