<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole</title>
    <a target="_blank" href="https://icons8.com/icon/44053/star">Star</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
</head>
<body>
   <header>    
<nav>
    <ul>
        <li><a href="/">HOME</a></a></li>
        <li><a href="/about">ABOUT</a></a></li></li>
        <li><a href="/music">MUSIC</a></a></li></li>
        <li><a href="/contact">CONTACT</a></a></li></li>
    </ul>
</nav>
    <ul>
   <nav>
        <li><a href="https://twitter.com/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-x-twitter"></i></a>
        <li><a href="https://es-la.facebook.com/"target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="https://tv.apple.com/ " target="_blank" rel="noopener noreferrer"></a><i class="fa-brands fa-apple"></i></li>
        <li><a href="https://www.amazon.com/"target="_blank" rel="noopener noreferrer"></a><i class="fa-brands fa-amazon"></i></li>
        <li><a href="https://www.instagram.com/"target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a></li>
</nav>      
   </header>
   <section>
      <h3>EMILIA <br> COLE//</h3>  
   </section>
   <section>
    <h1>TWIST IN MY REALITY</h1>
    <img src="imagenes/emilia-home.jpg"alt=" imagen de portada">
   </section>
</body>
</html>
