<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/ec7737c18b.js" crossorigin="anonymous"></script>
</head>
<body>
   <header> 
    <img src="/imagenes/emilia-music-top.jpg" alt="background header music">  
<nav>
    <ul>
        <li><a href="/">HOME</a></a></li>
        <li><a href="/about">ABOUT</a></a></li></li>
        <li><a href="/music">MUSIC</a></a></li></li>
        <li><a href="/contact">CONTACT</a></a></li></li>
    </ul>
</nav>
       <ul>
        <li><a href="https://twitter.com/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-x-twitter"></i></a>
        <li><a href="https://es-la.facebook.com/"target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="https://tv.apple.com/ " target="_blank" rel="noopener noreferrer"></a><i class="fa-brands fa-apple"></i></li>
        <li><a href="https://www.amazon.com/"target="_blank" rel="noopener noreferrer"></a><i class="fa-brands fa-amazon"></i></li>
        <li><a href="https://www.instagram.com/"target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>      
   </header>
   <section>
    <h1>MUSIC//</h1>
   </section>
   <section>
    <h4> Direct links</style> </h4>
    <ul>
       <article><a href="# albun"></a>Albun</article> 
       <article><a href="#video1" ></a>Video: Organic Love></article>
       <article><a href="# video2"></a>Video: Street light </a><a>id=(https://vimeo.com/134861419)</a></article>
    </ul>
   </section>
   <section id="albun ">
    <h2>ALBUN <br> TWIST IN MY REALITY</h2>
    <img src="/imagenes/emilia-play-list.png"alt= "foto de portada de disco">
   </section>
   <section>
    <ol type="1">
        <li>►Organic Love| 02:40</li>
        <li>►Twist in My Reality| 02:10</li>
        <li>►Street Ligth |03:28 </li>
        <li>►Love Don´t live Anymore (Cover) | 03:49</li>
        </ol>
   </section>
   <a href="#top">Go top</a>
   <section>
    <h2> VIDEO<br> STREET LIGHT</h2>
    <article><iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        <p><a href="https://vimeo.com/135166028">Classical-Compilation</a> from <a href="https://vimeo.com/wix">wixvideo</a> on <a href="https://vimeo.com">Vimeo</a>.</p></article>
    <p>Directed by VINCE MALC & EMILIA COLE <br> Edited and Filmed by NICOLAS TROY <br> Produced by NIKI HEART,<br> Wix Films LTD</p>
    <a href="#top">Go top</a>
    <article><iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        <p><a href="https://vimeo.com/134861419">Snowfall</a> from <a href="https://vimeo.com/wix">wixvideo</a> on <a href="https://vimeo.com">Vimeo</a>.</p></article>
    <p>Directed by VINCE MALC & EMILIA COLE <br> Edited and Filmed by NICOLAS TROY <br> Produced by NIKI HEART,<br> Wix Films LTD</p>
   </section>
   <a href="#top">Go top</a>
   </body>
